@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Teko:wght@400;500&display=swap');

.container {
   & .left {
   
    
    height: 100vh;
    width: 60vw;
    border: 2px solid black;
   }
  
  
    
}
.container {
    & .right {
        height: 100vh;
        width: 10vw;
        padding: auto;
        border: 2px solid green;
        
       }
}
  
