html, body {
  
  margin: 0;

  height: 100vh;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
}

.all {
  font-size: 0; /* remove white space */
}

.page {
  font-size: 16px; /* reset font size */
  height: 100%;
  width: 100%;
  display: inline-block;

  &:nth-child(1) {
    background: pink;
  }

  &:nth-child(2) {
    background: lightgreen;
  }

  &:nth-child(3) {
    background: gold;
  }
  &:nth-child(4) {
    background: rgb(226, 165, 226);
  }
}

::-webkit-scrollbar {
  width: 10px;
  height: 7.5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: black;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #0E0E0E;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
