html,
body {
  margin: 0;
  height: 100vh;
}
.main-container {
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  width: max-content;
  max-width: max-content;
  display: flex;
}
.content-container {
  width: 100vw;
  height: 100vh;
  background-color: whitesmoke;
  border: 2px solid black;
  position: relative;
}
